
Code/imageprocessormain/bin

Code/imageprocessormain/obj
Code/imageprocessormain/bin/Debug/ImageProcessorMain.pdb
Code/imageprocessormain/bin/Debug/ImageProcessorMain.exe
Code/.vs/ImageProcessorMain/v15/Server/sqlite3/storage.ide-wal
Code/.vs/ImageProcessorMain/v15/Server/sqlite3/storage.ide-shm
Code/.vs/ImageProcessorMain/v15/.suo
